body {
  background-color: #c6d7de;
  font-family: "Montserrat";
  padding: 3em;
}

#v0 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

div {
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.nav-links {
  padding-left: 10px;
}

#set-height {
  display: block;
}

section {
  z-index: 1;
  position: relative;
}

.content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 33.3%;
}

h1 {
  font-size: 3em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
}

p,
li {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  p,
  li {
    font-size: 1.2em;
  }
  .content {
    width: 90vw !important;
  }
}

.h2-l {
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

.masthead,
footer {
  z-index: 100;
  user-select: none;
  position: fixed;
}

.masthead {
  margin: auto;
  left: 35%;
}

.masthead-brand {
  padding-right: 10px;
  margin-top: -15px;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.fade-black {
  width: 100%;
  top: 0;
  left: 0;
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 99;
  margin: 0;
  padding: 0;
  position: fixed;
}

section:nth-of-type(1) {
  height: 1000px;
}

section:nth-of-type(2) {
  height: 1000px;
}

section:nth-of-type(3) {
  height: 1000px;
}

section:nth-of-type(4) {
  height: 1000px;
}

section:nth-of-type(5) {
  height: 1000px;
}

section:nth-of-type(6) {
  height: 1000px;
}

section:nth-of-type(7) {
  height: 1000px;
}

section:nth-of-type(8) {
  height: 0px;
}

section:nth-of-type(9) {
  height: 0px;
}

.entered {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
* Generated by Animista on 2018-7-4 16:24:12
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation text-focus-in
* ----------------------------------------
*/

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.top-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.action-button2 {
  background: #56c6c6;
  text-decoration: none;
  margin-left: 1rem;
}
.action-button2:hover {
  background: #9ad9d9;
  text-decoration: none;
}

.container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }

  html { /* body won't work ¯\_(ツ)_/¯ */
    scroll-snap-type: y mandatory;
  }
